
/ComputerDevices/.classpath
/ComputerDevices/.project
/ComputerDevices/.settings/org.eclipse.jdt.core.prefs
/ComputerDevicesNative/.cproject
/ComputerDevicesNative/.project
/ComputerDevicesNative/.settings/org.eclipse.cdt.managedbuilder.core.prefs
/ComputerDevicesNative/Release/libComputerDevicesNative.dll
/ComputerDevicesNative/Release/src/SerialPort.o
/ComputerDevicesNative/Release/src/termios.o
/build